* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: #030102
}

body::before {
  display: none;
}

body {
  color: #ffd968;
  font-family: Georgia, serif;
}

.cashout-shell {
  position: relative;
  width: min(100vw, 700px);
  margin: 0 auto;
  aspect-ratio: 1024 / 1536;
  background:
   url("./images/cashout-bg.jpeg")
   center top / 100% 100% 
  no-repeat;
}
.cashout-note {
  display: none;
}
.cashout-live,
.cashout-hotspot,
.cashout-result {
  position: absolute;
  z-index: 10;
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.22);
  color: #ffd968;
  font-weight: 900;
  text-align: center;
}

.cashout-balance {
  left: 3%;
  top: 47.8%;
  width: 24%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px 2.8vw 16px);
  white-space: nowrap;
  overflow: hidden;
}

.cashout-wallet-status {
  left: 27%;
  top: 47.8%;
  width: 20%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px 2.8vw 16px);
  white-space: nowrap;
  overflow: hidden;
}

.cashout-player-status {
  left: 50%;
  top: 47.8%;
  width: 20%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px 2.8vw 16px);
  white-space: nowrap;
  overflow: hidden;
}

.cashout-vip {
  left: 72%;
  top: 47.8%;
  width: 24%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px 2.8vw 16px);
  white-space: nowrap;
  overflow: hidden;
}

.cashout-request-btn {
  left: 31%;
  top: 59.6%;
  width: 38%;
  height: 3.7%;
}

.cashout-back {
  left: 4%;
  top: 93.5%;
  width: 24%;
  height: 4%;
}

.cashout-buy {
  left: 72%;
  top: 93.5%;
  width: 24%;
  height: 4%;
}

.cashout-result {
  display: none;
}
